@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&family=Fira+Code:wght@300;400&family=Fraunces:opsz,wght@9..144,700&family=Inter:wght@400;700;800&family=Josefin+Sans:wght@300&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Montserrat:wght@500;700&family=Open+Sans&family=Outfit:wght@400;700&family=Plus+Jakarta+Sans:ital,wght@0,700;0,800;1,500&family=Poppins:wght@500;700;800;900&family=Raleway:ital,wght@0,400;1,700&family=Red+Hat+Display:ital,wght@0,700;0,900;1,500&family=Six+Caps&display=swap');

body{
    margin: 165px 80PX;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed',sans-serif;
    background: #F2F2F2;
}
.container{
    width: 1100px;
    display: grid; 
    /* height: 672px; */
    grid-template-rows: (282px 266px);
    gap: 30px;
    grid-template-areas: 
    "a a b c"
    "d e e c";
}
.grid-1{
    width: 540px;
    background: #733FC8;
    height: 282px;
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right 80px;
    background-size: contain 104px ;
    padding: 26px 32px;
    border-radius: 8px;
    grid-area: a;
}
.profile{
    margin-top: 6px;
    width: 122px;
    height: 28px;
    display: flex;
    gap: 17px;
}
.avatar{
    width: 28px;
    height: 28px;
    border-radius: 50%;
}
.span-container{
    display: grid;
    gap: 5px;
    
}
.person{
    color: #ffffff;
    font-weight: 500;
    font-size: 13px;
}
.position{
    color: #bebaba;
    font-size: 11px;
    
}
h1{
    margin-top: 18px;
    font-size: 20px;
    color: #ffffff;
    line-height: 24px;
    letter-spacing: 0.8px;
}
p{
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.75px;
    color: #cfcfcf;
    margin-top: 30px;
}
.grid-2{
    width: 255px;
    height: 282px;
    background: #48556a;
    border-radius: 8px;
    padding: 26px 32px;
    margin-right: 40px;
    grid-area: b;
}
.grid-2 p{
    margin-top: 30px;
    width: 220px;
    height: 90px;
    letter-spacing: 0.9px;
}
span{
    width:91px
}

.grid-3{
    padding: 26px 32px;
    background: #FFFFFF;
    width: 255px;
    height: 266px;
    border-radius: 8px;
    grid-area: d;
}
.grid-3 h1{
width: 191px;
}
.grid-3 p{
    width: 210px;
    margin-top: 20px;
}
.grid-3 .person{
    color: #48556a;
}
.grid-3 h1{
    color: #48556a;
}
.grid-4{
    padding: 26px 32px;
    width: 540px;
    height: 266px;
    background: #19202D;
    grid-area: e;
    border-radius: 8px;
}

.grid-4 h1{
    color: #FFFFFF;
}
.grid-5{
    padding: 26px 32px;
    background: #FFFFFF;
    width: 255px;
    height: 634px;
    grid-area: c;
    margin-left: -40px;
    border-radius: 8px;
}
.grid-5 h1{
    color: #48556a;
}
.grid-5 p{
    line-height: 21px;
    margin-top: 35px;
    width: 220px;
    height: 378px;
}
.grid-5 .person{
    color: #48556a;
}
.attribution{
   margin-left: 25%;
   margin-top: 20px;
}